In [1]:
import pandas as pd 

data=[[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
list('321')

['3', '2', '1']

In [4]:
df=pd.DataFrame(data,list('321'),list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

Para consertarmos o index ao contrário, fazemos:

In [5]:
df.sort_index(inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

Organizou os index do DataFrame

In [6]:
df.sort_index(inplace=True,axis=1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

Também podemos fazer da seguinte maneira:

In [10]:
df.sort_values(by=['X','Y'],inplace=True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7