# Relatório de Análise 4

## Seleções e frequências

Pedidos:

    * Selecione somente os imóveis com o tipo Apartamento 
    * Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
    * Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites 
    * Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2000,00

In [2]:
import pandas as pd 

dados=pd.read_csv('dados/aluguel_residencial.csv',sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

Selecionando somente os imóveis com o tipo Apartamento:

In [4]:
selecao=dados['Tipo']=='Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

Vendo quantos AP's temos nesse conjunto de dados:

In [6]:
n1=dados[selecao].shape[0] 
n1

19532

Selecionando os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila':

In [9]:
selecao= (dados['Tipo']=='Casa') | (dados['Tipo']== 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
#Quando tem mais de uma condição, tem que pôr o parênteses para diferenciar
n2=dados[selecao].shape[0]
n2

2212

Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites:

In [11]:
selecao=(dados['Area']>=60) & (dados['Area']<=100)
n3=dados[selecao].shape[0]
n3

8719

Selecionando os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2000,00

In [13]:
selecao=(dados['Quartos']>=4) & (dados['Valor']<2000)
n4=dados[selecao].shape[0]
n4

41

In [14]:
print('Nº de imóveis com o tipo Apartamento: {}'.format(n1))

print('Nº de imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila: {}'.format(n2))

print('Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {}'.format(n3))

print('Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2000,00: {}'.format(n4))

Nº de imóveis com o tipo Apartamento: 19532
Nº de imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila: 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2000,00: 41